*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/caches/build_file_checksums.ser
/.idea/codeStyles/Project.xml
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/dictionaries/matthewherod.xml
/.idea/encodings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
!/gradle/wrapper/gradle-wrapper.jar
